<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/exam/add}" method="post">
    <input type="hidden" name="id" th:field="${exams.id}"/>
    <p>
        <label>Select user:</label>
        <select th:field="*{exams.examSubject}">
            <option value=""> -- </option>
            <option th:each="student : ${subjects}"
                    th:value="${student.id}"
                    th:text="${student.subjectName}">
            </option>
        </select>

    <p>
    <label>Name:</label>
    <input type="text" th:field="${exams.name}" placeholder="Name"/>
    </p>

    <p>
    <label>Result:</label>
    <input type="number" th:field="${exams.result}" placeholder="Result"/>
    </p>

    <p>
    <label>Grade:</label>
    <input type="number" th:field="${exams.grade}" placeholder="Grade"/>
    </p>

    <p>
    <label>Description:</label>
    <input type="text" th:field="${exams.description}" placeholder="Description"/>
    </p>



    <label>Select user:</label>
    <select th:if="${exams.studentList} == null" th:field="*{exams.studentList}">
        <option value=""> -- </option>
        <option th:each="student : ${students}"
                th:value="${student.id}"
                th:text="${student.name} + ' ' + ${student.surname}">
        </option>
    </select>

    <select th:if="${exams.studentList} != null" th:field="*{exams.studentList}">
        <option value=""> -- </option>
        <option th:each="student : ${students}"
                th:value="${student.id}"
                th:text="${student.name} + ' ' + ${student.surname}">
        </option>
    </select>

    <!--                th:selected="(${student.id} == *{exams.studentList.id})"
                th:readonly="(${student.id} == *{exams.studentList.id})"-->
    <p>
    <input type="submit"/>
    </p>
</form>

</body>
</html>