<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/exam/add}" method="post">
    <input type="hidden" name="id" th:field="${exams.id}"/>
    <p>
    <label>Subject:</label>
    <input type="text" th:field="${exams.subject}" placeholder="Subject"/>
    </p>

    <p>
    <label>Name:</label>
    <input type="text" th:field="${exams.name}" placeholder="Name"/>
    </p>

    <p>
    <label>Result:</label>
    <input type="number" th:field="${exams.result}" placeholder="Result"/>
    </p>

    <p>
    <label>Grade:</label>
    <input type="number" th:field="${exams.grade}" placeholder="Grade"/>
    </p>

    <p>
    <label>Description:</label>
    <input type="text" th:field="${exams.description}" placeholder="Description"/>
    </p>
    <p>

        <label>Student Code:</label>
        <input type="text" th:field="${exams.studentCode}" placeholder="Student Code"/>
    </p>


    <label>Select food:</label>
    <select th:if="${exams.studentList} == null" th:field="*{exams.studentList}">

        <!--th:name="student" th:value="students"-->
        <option value=""> -- </option>
        <option th:each="student : ${students}"
                th:value="${student.id}"
                th:utext="${student.name} + '-' + ${student.surname}">
        </option>
    </select>

    <select th:if="${exams.studentList} != null" th:field="*{exams.studentList}">
        <option value=""> -- </option>
        <option th:each="student : ${students}"
                th:value="${student.id}"
                th:utext="${student.name} + ' ' + ${student.surname}">
        </option>
    </select>

    <!--                th:selected="(${student.id} == *{exams.studentList.id})"
                th:readonly="(${student.id} == *{exams.studentList.id})"-->
    <p>
    <input type="submit"/>
    </p>
</form>

</body>
</html>